<?php

/** @var \Lovata\OrdersShopaholic\Models\Order $formModel */
/** @var \Lovata\OrdersShopaholic\Models\Order $obOrder */
if(!isset($obOrder) && isset($formModel)) {
    $obOrder = $formModel;
}
?>

<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="btn btn-primary oc-icon-plus">Acciones</a>
    <ul class="dropdown-menu" role="menu" data-dropdown-title="Add something small">
        <li role="presentation">
            <a
                data-primary-button
                class="oc-icon-envelope-o"
                data-request="onSendPreOrder"
                data-stripe-load-indicator
                href="#">
                Send/Resend Order

            </a>
            
        </li>
        <?php if ($obOrder->status_id == 2 || $obOrder->status_id == 5 ){ ?>
        <li role="presentation">
            <a
                data-primary-button
                class="oc-icon-check-circle"
                data-request="onApproveOrder"
                data-stripe-load-indicator
                href="#">
                Approve Order
            </a>
        </li>
        <?php } ?>
    </ul>
</div>